<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Page</title>
</head>

<body>
  <ul>
    <li><b>Username : </b>
      <%= user.username %>
    </li>
    <li><b> Email : </b>
      <%= user.email %>
    </li>
  </ul>
</body>

</html>